@import "tailwindcss";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


@html,
body {
  font-family: var(--font-libre_baskerville), sans-serif;
  scroll-behavior: smooth;
}

/* Headings use Libre Baskerville for elegant serif look */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-libre_baskerville), serif;
  letter-spacing: 0.5px;
}

/* Buttons
button {
  background-color: #1c3934;
  color: #f9f7f5;
  border-radius: 0.5rem;
  padding: 0.75rem 1.5rem;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #c6c8b7;
  color: #1c3934;
}

Links
a:hover {
  opacity: 0.8;
}
*/

/* Slick Dots Styling */
.slick-dots {
  bottom: 18px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.slick-dots li {
  margin: 0 6px !important; /* smaller spacing */
  position: relative;
}

.slick-dots li button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12px !important;   /* shrink clickable area */
  height: 12px !important;  /* shrink clickable area */
  padding: 0 !important;
  margin: 0 !important;
}

/* Dot Base */
.slick-dots li button:before {
  content: '';
  width: 1px;  /* tiny dot */
  height: .6px; /* tiny dot */
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 100%;
  transition: all 0.3s ease;
  opacity: 0.8;
}

/* Hover Effect */
.slick-dots li button:hover:before {
  background-color: #fff;
  opacity: 1;
}

/* Active Dot */
.slick-dots li.slick-active button:before {
  background-color: #fff;
  opacity: 1;
}

/* Optional ring for active (tiny) */
.slick-dots li.slick-active button::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height:.6px;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  transition: all 0.3s ease;
}

/* Input file button */
input[type='file']::file-selector-button {
  @apply bg-purple-100 text-purple-900 font-medium text-sm py-2 px-4 rounded border-0 cursor-pointer;
}
